*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Lato', sans-serif;
}

/******Header section css***/

.header-sec{
    display: flex;
    background-color: #FCEEF1;
    
}
.header-sec .header-left{
    padding: 160px 100px ;
}
.header-left h1{
    font-size: 56px;
    font-weight: 700;
}
.header-left p{
    font-size: 14px;
    font-weight: 400;
    color: #ADA3A5;
    margin: 18px 0px;
    margin-right: 86px;
    line-height: 21px;
}
.header-left button{
    padding: 12px 24px;
    color: white;
    background: #E55473;
    border: none;
    border-radius: 6px;
}
.header-right .flower-pic{
    margin-top: 60px;
    width: 100%;
    height: auto;
   

}

/**** Banner section css*****/


.banner .banner-header{
   text-align: center;
   padding-top: 140px;

}
.banner-header h2{
    font-size: 36px;
    font-weight: 700;
}
.banner-header p{
    font-size: 14px;
    font-weight: 400;
    color: #ADA3A5;
    margin: 14px 0px;
    line-height: 21px;
}
.banner-body .pictures{
    margin-top: 56px;
    display: flex;
    justify-content: center;
    

}
.pictures .img-1{
    background: #F2DEE7;
    border-radius: 48% 48% 0% 0;
    width: 25%;
    height: 60vh;
    margin-right: 20px;
}
.img-1 img{
    width: 220px;
    height: auto;
    margin-top: 88px;
    margin-left: 56px;
    

}
.pictures .img-2{
    background: #D9EFF1;
    border-radius: 50px;
    border-radius: 48% 48% 0% 0;
    width: 25%;
    height: 60vh;
    margin-right: 20px;
    
}
.img-2 img{
    width: 280px;
    height: auto;
    margin-top: 84px;
    margin-left: 42px;
    

}
.pictures .img-3{
    background: #E3EBDB;
    border-radius: 50px;
    border-radius: 48% 48% 0% 0;
    width: 25%;
    height: 60vh;
    
}
.img-3 img{
    width: 254px;
    height: auto;
    margin-top: 14px;
    margin-left: 42px;
    

}
.banner-body .cap{
    display: flex;
    margin: 40px;
    align-items: center;
    padding-left: 180px;

  
} 
.cap .cap-1{
width: 33%;
color: #272727 !important;


}
.cap-1 span{
   
    color: #272727 !important;
    font-weight: 700;
    
    
    }
.cap .cap-2{
    width: 33%;
    color: #272727 !important;
    
    }
    .cap-2 span{
   
        color: #272727 !important;
        font-weight: 700;
        
        
        }
    .cap .cap-3{
        width: 33%;
        
        }
        .cap-3 span{
   
            color: #272727 !important;
            font-weight: 700;
            
            
            }

.banner-footer {
    
   margin: 0px 150px;
   padding: 40px 0px;
}
.banner-footer .container{
    
    background-color: #F4F4F4;
    padding: 80px;
}
.banner-footer .banner-footer-img{
    display: flex;
    
    
} 
.banner-footer-img-1 img{

    padding-left: 80px; 
    width: 70px;  
}
.banner-footer-img-2 img{
    
    margin-left: 260px;
    width: 70px;
}
.banner-footer-img-3 img{
    
    margin-left: 260px;
    width: 70px;
}
.banner-footer .banner-footer-content{
    display: flex;
    
} 
.banner-footer-content .banner-footer-content-1{
   margin: 20px 0px  0px 20px;
   color: #505050;
   font-family: 'Lato', sans-serif;
}
.banner-footer-content .banner-footer-content-2{
    margin: 20px 0px  0px 80px;
    color: #505050;
    font-family: 'Lato', sans-serif;
 }
 .banner-footer-content .banner-footer-content-3{
    margin: 20px 0px  0px 150px;
    color: #505050;
    font-family: 'Lato', sans-serif;
 }

 /****Sale section css*****/

 .sale{
    padding-top: 60px;
    
 }
 .sale .sale-sec{
    background-color: #FEF6F8;
    
 }
 .sale .container{
    display: flex;
 }
 .sale .sale-sec-left{
    padding: 140px;
    margin: 0px 120px;
 }
 .sale-sec-left h2{
    font-size: 28px;
    font-weight: 800;
    margin-left: 16px;
 }
 .sale-sec-left span{
    color: #E55473;
 }
 .sale-sec-left p{
    font-size: 14px;
    font-weight: 400;
    color: #ADA3A5;
    margin: 18px 0px;
    margin-right: 86px;
    line-height: 21px;
    text-align: center;
 }
 .sale-sec-left button{
    padding: 12px 24px;
    color: white;
    background: #E55473;
    border: none;
    border-radius: 6px;
    margin-left: 150px;
 }
 .sale-sec-right img{
    width: 250px;
    height: auto;
    padding-right: 80px;
    margin-top: 80px;
    margin-bottom: 60px;
 }


 /*** Bonus section css***/
.bonus-sec{
    margin: 80px 0px;
    width: 100%;
    height: 70vh;
	background-image: url("../img/butterflies.jpg");
	background-repeat: no-repeat;
	background-position : center;
	background-size: cover;
}
.bonus-sec .bonus{
    text-align: center;
    padding-top: 120px;
}
.bonus h6{
    font-size: 16px;
    font-weight: 400;
    color: #272727;
    margin: 14px 0px;
    line-height: 21px;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
}
.bonus h3{
    font-size: 36px;
    font-weight: 500;
    color: #272727;
    font-family: 'Lato', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.bonus button{
    padding: 12px 24px;
    color: #5A5450;
    background: transparent;
    border: 1px solid slategrey;
    border-radius: 8px;

}

.bonus-sec-2{
    background: #F1DDE7;
    height: 140vh;
}
.blog-heading-sec h6{
    padding-top: 80px;
    font-size: 16px;
    font-weight: 600;
    color: #272727;
    margin: 14px 0px;
    line-height: 21px;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    letter-spacing: 2px;
} 
.blog-heading-sec h1{
    font-size: 48px;
    font-weight: 600;
    color: #272727;
    font-family: 'Lato', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 50px;

}
.blog-img-sec{
    display: flex;
    padding: 40px;
}
.blog-img-1 img{
    width: 80%;
    height: 51vh;
    padding-left: 90px;
}
.blog-img-2 img{
    width: 80%;
    height: auto;
    padding-left: 30px;
}
.blog-content-sec{
    display: flex;
    padding: 10px 128px;
}
.blog-content-sec-left h3{
    font-size: 28px;
    font-weight: 600;
    color: #272727;
    font-family: 'Lato', sans-serif; 
    letter-spacing: 2px;
    margin-bottom: 8px;
       
}
.blog-content-sec-left span{
    
    font-size: 12px;
    font-weight: 600;
    color: #272727;
    line-height: 21px;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.5px;
    
       
}
.blog-content-sec-left p{
    font-size: 14px;
    font-weight: 400;
    color: #686262;
    margin: 8px 0px;
    line-height: 21px;
    margin-bottom: 10px;
}
.blog-content-sec-left h6{
    
    font-size: 16px;
    font-weight: 600;
    color: #272727;
    line-height: 21px;
    font-family: 'Lato', sans-serif;
}
.blog-content-sec .blog-content-sec-right{
   padding-left: 24px;
}


.blog-content-sec-right h3{
    font-size: 28px;
    font-weight: 600;
    color: #272727;
    font-family: 'Lato', sans-serif; 
    letter-spacing: 2px;
    margin-bottom: 8px !important;
    
       
}
.blog-content-sec-right span{
    
    font-size: 12px;
    font-weight: 600;
    color: #272727;
    line-height: 21px;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.5px;
    margin-top: 10px !important;
    
       
}
.blog-content-sec-right p{
    font-size: 14px;
    font-weight: 400;
    color: #686262;
    margin: 8px 0px;
    line-height: 21px;
    margin-bottom: 10px;
}
.blog-content-sec-right h6{ 
    font-size: 16px;
    font-weight: 600;
    color: #272727;
    line-height: 21px;
    font-family: 'Lato', sans-serif;
}


/*****instagram section css****/


.insta-sec {
    padding:  100px;
}
.insta-sec .insta-header{
    text-align: center;
}
.insta-header h2{
    font-size: 36px;
    font-weight: 700;
}
.insta-header p{
    font-size: 14px;
    font-weight: 400;
    color: #ADA3A5;
    margin: 14px 0px;
    line-height: 21px;
    margin-bottom: 80px;
}
.insta-sec .insta-body{
    display: flex;
} 
.insta-1 img{
    padding: 0px 18px;
    width: 240px;
    margin-bottom: 80px;
}
.insta-fotter{
    width: 100%;
    height: 50vh;
	background-image: url("../img/Rectangle9.png");
	background-repeat: no-repeat;
	background-position : center;
	background-size: cover;
}
.insta-fotter .container{
    text-align: center;
    padding: 80px 240px;
}
.container h2{
    font-size: 28px;
    font-weight: 800;
    margin-left: 16px;
}
.container p{
    font-size: 14px;
    font-weight: 400;
    color: #ADA3A5;
    margin: 14px 0px;
    line-height: 21px;
    margin-bottom: 30px;
}
.container .form-content{
    display: flex;
    
}
.form-content input{
    width: 420px;
    height: 25px;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-right: 20px;
}
.form-content button{
    padding: 12px 24px;
    color: white;
    background: #E55473;
    border: none;
    border-radius: 6px;
    
}
/***Footer section css***/
.footer{
    background: #111010;
    height: 50vh;
}
.footer .foot-sec{
    text-align: center;
    padding: 120px;
    color: white;
}
.foot-sec h2{
    font-size: 36px;
    font-weight: 700;
}
.foot-sec span{
    color: #E55473;
}
.foot-sec p{
    font-size: 14px;
    font-weight: 400;
    color: #ACACAC;
    margin: 14px 0px;
    line-height: 21px;
    margin-bottom: 20px; 
}
.foot-sec h6{
    font-size: 11px;
    font-weight: 400;
    color: #ADA3A5;
    margin: 14px 0px;
    line-height: 21px;
    margin-bottom: 20px; 
}



    





